RewriteEngine On
Options +FollowSymlinks

AddType text/n3 .n3

AddType application/n-triples .nt
AddType application/ld+json .jsonld
AddType text/turtle .ttl

RewriteRule ^(.+) /RDFBrowser/public/$1 [L]

RewriteRule ^browser_assets/(.+) /RDFBrowser/public/browser_assets/$1 [L]

RewriteRule ^resource/(.+) /RDFBrowser/public/resource/$1 [L]

RewriteRule ^page/(.+) /RDFBrowser/public/page/$1 [L]

RewriteRule ^data/(.+) /RDFBrowser/public/data/$1 [L]
